.product-card {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 450px;
  overflow: hidden;
  margin: 10px;
}

.product-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.product-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.product-card button:hover {
  background-color: #555;
}
